<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821431891505-tv44f7kqtp64ue7jnoi410bctoq1beva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821431891505-tv44f7kqtp64ue7jnoi410bctoq1beva</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>821431891505-e5lee1s0v9g6491lb6ba122j4ngnikdm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQReyCfR5MZNHFKKVn9UGG7mYdkcyREhk</string>
	<key>GCM_SENDER_ID</key>
	<string>821431891505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doAnChuyenNganh</string>
	<key>PROJECT_ID</key>
	<string>do-an-62d4f</string>
	<key>STORAGE_BUCKET</key>
	<string>do-an-62d4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821431891505:ios:2ce968679a34f4fc104710</string>
	<key>DATABASE_URL</key>
	<string>https://do-an-62d4f.firebaseio.com</string>
</dict>
</plist>